.navbar{
	height: 8vh;
}

.navbar-header {
	height: 100%;
	background-color: #302361;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-header-banner{
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-header-banner > img{
	width: 40px;
    margin-right: 10px;
    margin-left: 20px;
}

.navbar-logo {
	color: #fff;
	font-weight: 500; 
	font-size: 25px;
}

.cerrar-sesion {
	margin-left: 5px; 
	font-size: 16px;
	border: none;
	background-color: transparent;
	color: #fff;
	cursor: pointer;
}

.navbar-header-buttons{
	margin-right: 4vw;
	width: 50vw;
	display: flex;
	justify-content: flex-end;
	
}
