.sidebar{
    width: 15%;
    height: 92vh; 
    background-color: #F5F5F5; 
    border-right-color: #DCDCDC;
    border-right-style: solid;
    border-right-width: 2px;
}

.button-sidebar {
	border: none;
	background-color: #F5F5F5;
	color: #707070;
	letter-spacing: 0.4px;
	width: 100%;
	display: block;
	text-align: left;
	font-weight: bold;
	padding: 15px 0 10px 10px;
	cursor: pointer;
	outline: none;
}

